---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Atomo Menu - Digital Menu Solution"
	description="Crea y gestiona tus menús digitales de forma elegante y profesional con Atomo Menu."
>
	<div class="h-screen flex items-center justify-center bg-black text-white">
		<h1 class="text-2xl font-bold tracking-widest">ATOMO</h1>
	</div>
</Layout>
