---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Atomo"
	description="Tu identidad digital unificada. Menús, Portafolios, CVs y más en un solo lugar."
>
	<div class="h-screen flex items-center justify-center bg-black text-white">
		<h1 class="text-2xl font-bold tracking-widest">ATOMO</h1>
	</div>
</Layout>
